<!DOCTYPE html>
<html ng-app="ShoppingList">
  <head>
    <meta charset="utf-8">
    <!-- <script type="text/javascript" src="jquery-3.1.1.min.js"></script> -->
    <!-- <script type="text/javascript" src='angular.min.js'></script> -->
    <!-- <script type="text/javascript" src="app.js"></script> -->
    <!-- <link rel="stylesheet" href="/css/master.css" media="screen" title="no title"> -->
    <title>Shopping List With Events</title>
    <style media="screen">
      .error{
        color:red;
        display:none;
      }

    </style>
  </head>
  <body>
    <h1>Shopping List With Events</h1>
    <!-- List #1 - unlimited items -->
    <div id="list1" ng-controller="ShoppingListController1 as list1">
      <input type="text" ng-model="list1.itemName" placeholder="item name">
      <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
      <button ng-click="list1.addItem();">Add Item</button>
      <span>{{list1.lastRemoved}}</span>

      <shopping-list
        items="list1.items"
        title="{{list1.title}}"
        on-remove="list1.removeItem(index)">

      </shopping-list>
    </div>
    <loading-spinner></loading-spinner>

    <!-- libarites -->
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/angular.min.js"></script>

    <!-- Modules -->
    <script type="text/javascript" src="src/spinner/spinner.module.js"></script>
    <script type="text/javascript" src="src/shoppinglist/shoppinglist.module.js"></script>

    <!-- shoppingList Module artifacts -->
    <script type="text/javascript" src="src/shoppinglist/shoppinglist.component.js"></script>
    <script type="text/javascript" src="src/shoppinglist/shoppinglist.controller.js"></script>
    <script type="text/javascript" src="src/shoppinglist/shoppinglist.factory.js"></script>
    <script type="text/javascript" src="src/shoppinglist/weightlossfilter.service.js"></script>

    <!-- spinner module artifacts -->
    <script type="text/javascript" src="src/spinner/loadingspinner.component.js"></script>


  </body>
</html>
